# Question 1
Write a program that asks the user to enter the amount that he or she has budgeted for a month. A loop should then prompt the user to enter each of his or her expenses for the month and keep a running total. When the loop finishes, the program should display the amount that the user is over or under budget.

In [6]:
expense = 0.0
budget = 0.0
difference = 0.0
expenseTotal = 0.0
total_expense = 0
keep_going = 'y'

budget = float(input("Enter budget for the month?"))
print("------Expenses:------ ")

while keep_going == 'y':
    expense = float(input("Enter amount of Expense : $ "))
    total_expense = total_expense + expense
    keep_going = input("Is there any other expenses? (Enter y for yes - Press Enter to end)")

if total_expense < budget:
    difference = budget - total_expense
    print("You are ", difference, "$ under budget.")

elif total_expense > budget:
    difference = total_expense - budget
    print("You are ", difference, "$ over budget.")

else:
    print("Just right on budget.")

Enter budget for the month?2000
------Expenses:------
Enter amount of Expense : $ 2000
Is there any other expenses? (Enter y for yes - Press Enter to end)
Just right on budget.
Enter budget for the month?3000
------Expenses:------
Enter amount of Expense : $ 30000
Is there any other expenses? (Enter y for yes - Press Enter to end)
You are  27000.0 $ over budget.

# Question 2 
Write a function named max that accepts two integer values as arguments and returns the
value that is the greater of the two. For example, if 7 and 12 are passed as arguments to
the function, the function should return 12. Use the function in a program that prompts the
user to enter two integer values. The program should display the value that is the greater
of the two.

In [12]:
def max(firstNumber, secondNumber ):
    if firstNumber > secondNumber:
      return firstNumber

    else:
      return secondNumber



firstNumber=int(input("Enter First number : "))
secondNumber=int(input("Enter Second number : "))

maxnum=max(firstNumber,secondNumber)

print("The Max Number is : " + str(maxnum) )

Enter First number : 7
Enter Second number : 12
The maximum value is : 12

# Question 3
Write a program that asks the user for the name of a file. The program should display the
contents of the file with each line preceded with a line number followed by a colon. The
line numbering should start at 1.

In [18]:
file_name = input("Enter the name of the file : ")

try:
    with open(file_name, 'r') as r, open("ln_"+file_name, 'w') as w:
        count = 1

        for line in r:
            w.write(str(count) + ': ' + line)
            count += 1
except:
    print("Cannot Find or Read the file ( " + file_name + " )")

Enter the name of the file : texts
Cannot Find or Read the file ( texts )

# Question 4
Write a program that reads a string from the user containing a date in the form mm/dd/yyyy. It should print the date in the form March 12, 2014.

In [21]:
mydate = input('Enter date in the following format - mm,dd,yyyy - : ')
datelist = mydate.split(',')
month = int(datelist[0])
day = int(datelist[1])
year = int(datelist[2])

if month == 1:
    month = 'January'

elif month == 2:
    month = 'February'

elif month == 3:
    month = 'March'

elif month == 4:
    month = 'April'

elif month == 5:
    month = 'May'

elif month == 6:
    month = 'June'

elif month == 7:
    month = 'July'

elif month == 8:
    month = 'August'

elif month == 9:
    month = 'September'

elif month == 2:
    month = 'October'

elif month == 2:
    month = 'November'

elif month == 12:
    month = 'December'
    
finaldate = month + ' ' + str(day) + ',' + str(year) 

print(finaldate)

Enter date in the following format - mm,dd,yyyy - : 03,12,2014
March 12,2014

# Question 5
Write a class named Person with data attributes for a personâ€™s name, address, and telephone number. Next, write a class named Customer that is a subclass of the Person class.
The Customer class should have a data attribute for a customer number and a Boolean
data attribute indicating whether the customer wishes to be on a mailing list. Demonstrate
an instance of the Customer class in a simple program.

In [51]:
class Person: 
  def __init__(self, name, address, number):
    self.name = name
    self.address = address
    self.number = number
  def Name(self):
    return self.name 

class Customer(Person): 
  def __init__(self, name, address, number,custNumber,needMailList): 
    Person.__init__(self,name, address, number)
    self.custNumber = custNumber 
    self.needMailList = needMailList

x = Person("Ahmed", "Egypt","123456789") 
y = Customer("Joe", "France", "0234567890","11",False)

print("------------Info of X-------------") 
print(x.name) 
print(x.address) 
print(x.number)
print("-------------------------") 
print("------------Info of y-------------") 
print(y.name) 
print(y.address) 
print(y.number)
print(y.custNumber)

------------Info of X-------------
Ahmed
Egypt
123456789
-------------------------
------------Info of y-------------
Joe
France
0234567890
11

Once You finish Fill the Form: https://docs.google.com/forms/d/e/1FAIpQLSeu1EmFSSURi7TYZ7LvNQREvDEeGue6enxF2j_wy2mNU-q2xw/viewform?usp=sf_link